body {
	background-color: transparent;
	background-image: url("images/sandpaper.png");
	font-family: 'Darker Grotesque',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: medium;
}
p, h5 {
	color: #484848;
}

h1 {
	font-family: 'Fondamento', cursive;
}

.jumbotron {
    border-radius: 0;
}

.container {
    background-color: white;
	font-size: larger;
}
.page-footer {
	background-color: #8b1214;
	color: #E3C4C5;
	height: 50px;
}
.card {
	float: right;
	margin: 3px;
	width: 40%;
}
.blockquote {
	color: #484848;
	font-family: 'Fondamento', cursive, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: medium;
	font-style: italic;
	padding: 5px;
	text-align: center;
}
.display-4, #theObvious, #absurdUnknown {
	font-family: 'Fondamento', cursive, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.img-responsive {
	float: left;
	margin: 10px;
}

.navbar {
    font-size: large;
    background-color: #8b1214;
}
.card-text {
	font-size: large;
	padding: 10px;
}
