.container {
    font-size: medium;
}

.navbar {
    margin-bottom: 20px;
}

.page-footer {
    background-color: #8b1214;
    color: #E3C4C5;
}

.card {
    float: right;
    width: 40%;
    margin: 5px;
}

.blockquote {
    font-size: medium;
}

.display-3, #theObvious, #absurdUnknown {
    font-family: 'Satisfy', cursive;
}

.img-responsive {
    float: left;
    margin: 10px;
}